$grid-columns:                36;
$border-radius:               .0rem;
$border-radius-lg:            .0rem;
$border-radius-sm:            .0rem;

$primary:       #4a8cd2;
// $secondary:     $gray-600 !default;
$success:       #41b883;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;


// $font-size-base:              .78rem;
// 
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

@import 'vue-toast-notification/src/scss/index.scss';

@import './toast.scss';
@import './component.scss';
@import './editor.scss';

.container.container-main {
  min-height: calc(100vh - 6.666rem);
}
.markdown-body {
  font-size: .85rem !important;
}
.navbar-nav  {
  .dropdown-menu {
    .dropdown-item {
      font-size: 0.9rem;
      padding: 0.2rem 1.2rem;
    }
  }
  .dropdown-menu-right {
    margin-top: 7px;
    right: 5px;
  }
}

.nav-link {
  padding: 0.2rem 1rem;
}
// .custom-control-label::before {
//   position: absolute;
//   top: 0.3rem;
//   left: -3.25rem;
// }
// .custom-control-label::after {
//   position: absolute;
//   top: 0.3rem;
//   left: -3.25rem;
// }
// .custom-switch .custom-control-label::before {
//   left: -3.25rem;
// }
// .custom-switch .custom-control-label::after {
//   top: calc(0.3rem + 2px);
//   left: calc(-3.25rem + 2px);
// }

// .tasklist {
//   font-size: 0.9rem;
//   font-weight: 300;
//   padding-left: 5rem;
//   margin-bottom: 20px;
// }
pre {
  background: #e4e4e4;
  padding: 5px 10px;
  border: #ccc solid 1px;
  border-radius: 2px;
  margin: 8px 0;
}
.form-group .problem {
  z-index: 3;
  font-size: 11px;
  padding: 2px 9px;
}
.form-group > label {
  font-weight: bold !important;
}

.main-head{
  height: 150px;
  background: #FFF;
}

.sidenav {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
  margin-right: 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
textarea.reason {
  min-width: 290px;
  max-width: 600px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .register-form{
    margin-top: 10%;
  }

  textarea.reason {
    width: 290px;
  }

}

@media screen and (min-width: 450px) {
  textarea.reason {
    width: 380px;
  }

}

@media screen and (min-width: 768px){
  .main {
    margin-left: 40%; 
  }

  textarea.reason {
    width: 600px;
  }

  .sidenav{
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .register-form{
    margin-top: 20%;
  }
}

.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-ssm {
  font-weight: bold;
  font-size: 10px;
  padding: 2px 6px;
}

.f-xs {
  font-size: 0.75rem;
}
.f-sm {
  font-size: 0.85rem;
}
.f-md {
  font-size: 1rem;
}
.btn-xs {
  padding: .05rem .25rem;
  font-size: .9rem;
}