$grid-columns:                36;
$border-radius:               .0rem;
$border-radius-lg:            .0rem;
$border-radius-sm:            .0rem;
// $font-size-base:              .78rem;

@import '~bootstrap/scss/bootstrap.scss';
