.notices {
  .toast-success {
    color: #28a745;
    border-top: #28a745 solid 5px;
  }
  .toast-info {
    color: #17a2b8;
    border-top: #17a2b8 solid 5px;
  }
  .toast-warning {
    color: #ffc107;
    border-top: #ffc107 solid 5px;
  }
  .toast-error {
    color: #dc3545;
    border-top: #dc3545 solid 5px;
  }
  .toast-default {
    color: #343a40;
    border-top: #343a40 solid 5px;
  }
  .toast {
    flex-basis: auto;
    background-color: #ececec;
    font-weight: bold;
    border-radius: 0.25em 0.25em 0 0;
  }
}
